header .container-img-principal {
  display: flex;
  justify-content: center;
}
header .container-img-principal #img-principal {
  justify-items: center;
  width: 70%;
}
header .grid-nav-responsive {
  display: grid;
  width: 100%;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
}
header h1 {
  color: #c28b65;
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  display: flex;
  justify-content: center;
}
header span {
  color: #c28b65;
  font-family: Conv_ShimesOne_Personal;
  font-size: 70px;
}
header nav ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
  color: white;
  background-color: #620404;
  padding: 10px;
  border: 3px solid #c28b65;
}
header nav li {
  flex-grow: 1;
}
header nav li:hover {
  background-color: #c28c6571;
  color: white;
  /* transition: .12s;
  transform: scale(1.4,1.4); */
}
header nav li .item-nav {
  display: flex;
  justify-content: center;
  color: white;
  font-family: Conv_ShimesOne_Personal;
  font-size: 300%;
  flex-grow: 1;
}
@media (min-width: 1001px) {
  header nav li nav li:hover {
    transition: 0.12s;
    transform: scale(1.4, 1.4);
  }
}
header .arte-mobile {
  display: none;
}

section {
  grid-template-columns: 1fr;
}
section div h2 {
  color: #c28b65;
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
}
section .container-img-nosotros {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #c28b65;
}
section img {
  width: 30%;
}

.productos .contenedor-carousel {
  display: flex;
  justify-content: center;
}
.productos .contenedor-carousel .carousel {
  width: 50%;
}
@media (max-width: 1001px) {
  .productos .contenedor-carousel .carousel {
    width: 100%;
  }
}

.contacto h2 {
  color: #c28b65;
  padding: 10px;
}
.contacto div {
  border: 4px outset #c28b65;
  display: grid;
  grid-template-columns: 70% 30%;
}
.contacto div #mapa {
  width: 100%;
  height: 58vh;
}
.contacto div .contacto-item {
  text-decoration: underline;
}
.contacto div div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

footer {
  background-image: linear-gradient(#620404, #c28b65);
  margin-top: 20px;
  color: black;
  height: 50px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer img {
  width: 30px;
}

@media (max-width: 1001px) {
  .inicio {
    display: none;
  }

  .grid-nav {
    display: grid;
    width: 97%;
    grid-template-columns: 1fr 1fr;
  }

  .item-nav {
    border: 6px outset #c28b65;
  }

  #mapa {
    width: 100%;
    height: 100px;
  }

  .contacto div {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
  }

  .contacto-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .carousel {
    width: 100%;
  }

  header .arte-mobile {
    display: block;
  }
}
@media (max-width: 700px) {
  .titulo {
    display: none;
  }

  .arte-mobile {
    display: block;
    color: #c28b65;
    font-family: Conv_ShimesOne_Personal;
    font-size: 70px;
    padding: 10px;
    text-align: center;
  }

  .grid-nav {
    display: grid;
    width: 97%;
    grid-template-columns: 1fr;
  }
}
.contenedor-galeria {
  padding: 15px;
  border: 10px groove #c28b65;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  color: white;
}

p {
  color: white;
  padding: 15px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

body {
  background-color: #6b0404;
}

.arte-mobile {
  display: none;
}

.img-galeria {
  width: 33%;
}

/*# sourceMappingURL=style.css.map */
