header {

    .container-img-principal {
        display: flex;
        justify-content: center;
        #img-principal {
            justify-items: center;
            width: 70%;
        }
    }
    .grid-nav-responsive {
        display: grid;
        width: 100%;
        grid-template-columns: auto ;
        grid-template-rows: auto auto;
    }
    h1{
        color: #c28b65;
        font-family: 'Times New Roman', Times, serif;
        font-size: 50px;
        display: flex;
        justify-content: center;
    }
    span{
        color: #c28b65;
        font-family: Conv_ShimesOne_Personal;
        font-size: 70px;
    }
    nav {
        ul {
            display: flex;
            width: 100%;
            justify-content: space-around;
            color: white;
            background-color: hsl(0, 92%, 20%);
            padding: 10px;
            border: 3px solid #c28b65 ;
            }
        
        li  {
            flex-grow:1;
            &:hover {
                background-color: #c28c6571;
                color: white;
                /* transition: .12s;
                transform: scale(1.4,1.4); */
            }
            .item-nav {
                display: flex;
                justify-content: center;
                color: white;
                font-family: Conv_ShimesOne_Personal;
                font-size: 300%;
                flex-grow:1;
            }
            @media (min-width: 1001px) {
                nav li:hover {
                    transition: .12s;
                    transform: scale(1.4,1.4);
                
                }
            }
            }

        
        }

}

section {
    display: grid;
    grid-template-columns: 1fr;
    div h2{
        color: #c28b65;
        padding: 10px;
        font-family: 'Times New Roman', Times, serif;
    }
    .container-img-nosotros{
        display: flex;
        justify-content: space-around;
        margin: 20px 0;
        padding-bottom: 10px;
        border-bottom: 1px solid #c28b65 ;
    }
    img {
        width: 30%;
        
    }
}

.contacto {
    h2{
        color: #c28b65;
        padding: 10px;
    }
    div{
        border: 4px outset #c28b65;
        display: grid;
        grid-template-columns: 70% 30%;

        #mapa{
            width: 100%;
            height: 58vh;        
        }
        div{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
        
        }
    }
}
.arte-mobile {
    display: none;
}
footer {
    background-image: linear-gradient(hsl(0, 92%, 20%), #c28b65 );
    margin-top: 20px;
    color: black;
    height: 50px;
    text-align: center;

    img {
        width: 30px;
    }
}
@media (max-width: 1001px) {
    .inicio {
        display: none;
    }
    .grid-nav {
        display: grid;
        width: 97%;
        grid-template-columns: 1fr 1fr;
    }
    .item-nav{
        border: 6px outset #c28b65;

    }
    #mapa{
        width: 100%;
        height: 100px;
    }
    .contacto div {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
    }
    .contacto-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .carousel{
        width: 100%;
    }
    .arte-mobile{
        display: block;
    }
}
  @media (max-width: 700px){
    .titulo{
        display: none;
    }
    .arte-mobile {
        display: block;
        color: #c28b65;
        font-family: Conv_ShimesOne_Personal;
        font-size: 70px;
        padding: 10px;
        text-align: center;
    }
    .grid-nav {
        display: grid;
        width: 97%;
        grid-template-columns: 1fr;
    }
}

.contenedor-galeria {
    padding: 15px;
    border: 10px groove #c28b65;
}