*{
    padding: 0;
    margin: 0;
	list-style: none;
	text-decoration: none;
    color: white;
}

p {
    color: white; 
    padding: 15px;
    font-size: 20px; 
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}
body {
    background-color: #6b0404;
    
}
.arte-mobile{
    display: none;
}
.img-galeria {
    width: 33%;
}

header{
    .container-img-pres-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
            .img-pres-mobile {
                @media (min-width: 701px){
                    display: none;
                }
                @media (max-width: 700px){
                    display: inline;
                    width: 65%;
                    padding: 5px;
                }
        }
    }
}
a {
    color: #c28b65;
 &:hover {
    color: #f1bc95;

 }
}